<div class="card">
   <h2>Education & Career</h2>
   <div class="info-grid">
      <div class="info-item">
         <div class="label">Education</div>
         <div class="value">Engineering: B.Tech(Bharath University - Chennai)<br><br>Schooling: The Nandyal Public School(Nandyal)</div>
      </div>

      <div class="info-item">
         <div class="label">Profession</div>
         <div class="value">Software Engineer</div>
      </div>

    <div class="info-item flip-card" onclick="flipCard(this)">
            <div class="flip-inner">
               <!-- FRONT -->
               <div class="flip-front">
                  <div class="label">Current Company & Package</div>
                  <div class="value">Click to view Details......</div>
               </div>
               <!-- BACK -->
               <div class="flip-back">
                  <div class="label">Current Company & Package</div>
                  <div class="value">........................</div>
               </div>
            </div>
            <p><br><br><br><br><br><br></p>

    </div>

   </div>
</div>