<div class="card">

    <h2>Family Details</h2>

    <div class="info-grid">

        <div class="info-item">
            <div class="label">Father</div>
            <div class="value">Farmer</div>
        </div>

        <div class="info-item">
            <div class="label">Mother</div>
            <div class="value">Homemaker</div>
        </div>

        <div class="info-item">
            <div class="label">Siblings</div>
            <div class="value">1 Sister(Married)</div>
        </div>

        <div class="info-item">
            <div class="label">Land</div>
            <div class="value">8 Acers</div>
        </div>

        <div class="info-item">
            <div class="label">Rasi (zodiac sign)</div>
            <div class="value">...........</div>
        </div>

        <div class="info-item">
            <div class="label">Nakshatra</div>
            <div class="value">...........</div>
        </div>

    </div>

</div>