<div class="card">

    <div class="gallery-header">

        <h2>Photo Gallery</h2>

        <button class="toggle-btn" onclick="toggleGallery()">
    Show Gallery
</button>

    </div>

    <div class="gallery-wrapper hide" id="galleryWrapper">

        <div class="gallery-grid">

            <!-- MAIN SLIDER -->

            <div class="main-slider">

                <div class="slides" id="slides"></div>

            </div>

            <!-- SIDE GRID -->

            <div class="side-grid" id="sideGrid"></div>

        </div>

    </div>

</div>