<div class="card">

    <h2>Personal Details</h2>

    <div class="info-grid">

        <div class="info-item">
            <div class="label">Age</div>
            <div class="value">26 Years</div>
        </div>

        <div class="info-item">
            <div class="label">Height</div>
            <div class="value">5'7 "</div>
        </div>

        <div class="info-item">
            <div class="label">Religion</div>
            <div class="value">Hindu</div>
        </div>

        <div class="info-item">
            <div class="label">Language</div>
            <div class="value">Telugu</div>
        </div>

        <div class="info-item">
            <div class="label">Date of Birth</div>
            <div class="value">16th April 2000</div>
        </div>

        <div class="info-item">
            <div class="label">Caste</div>
            <div class="value">OC/KAPU</div>
        </div>

        <div class="info-item">
            <div class="label">Type of Reddy</div>
            <div class="value">.............</div>
        </div>

    </div>

</div>