<div class="card">

    <div class="gallery-header1">

        <h2>Photo Gallery</h2>

        <button class="toggle-btn1" onclick="toggleskills()">
    Show Gallery
</button>
    </div>

    <div class="gallery-wrapper1 hide" id="x1">

        <div class="skills-carousel">

            <div class="skill-track">

                <div class="mini-card">JavaScript</div>
                <div class="mini-card">HTML & CSS</div>
                <div class="mini-card">React</div>
                <div class="mini-card">Node.js</div>

            </div>

        </div>

    </div>

</div>